<header>
    <div class="p-grid">
      <div class="p-col-3">
        <div class="logo">
          <img src="assets/images/logo.png" alt="logo" />
        </div>
      </div>
      <div class="p-col-4 search">
        <products-search></products-search>
      </div>
        <div class="p-col-3 p-offset-1 navigation">
          <apptransporte-nav></apptransporte-nav>
        </div>
      <div class="p-col-1 tools">
        <i class="pi pi-user"></i>
        <i class="pi pi-shopping-cart"></i>
      </div>
    </div>
  </header>