<div class="div admin-sidebar">
    <div class="logo"></div>
    <img src="../../../assets/images/logo.png" alt="5">
    <div class="links">
        <ul>
            <li>
                <a routerLink="/"><i  class="pi pi-home"></i>Bienvenidos</a>
            </li>
            <li>
                <a routerLink="/productos"><i  class="pi pi-briefcase"></i>Productos</a>
            </li>
            <li>
                <a routerLink="/categorias"><i  class="pi pi-list"></i>Categorias</a>
            </li>
            <li>
                <a routerLink="/pedidos"><i  class="pi pi-shopping-cart"></i>Pedidos</a>
            </li>
            <li>
                <a routerLink="/usuarios"><i  class="pi pi-user"></i>Usuarios</a>
            </li>
            <li>
                <a><i class="pi pi-car"></i>Transportes</a>
            </li>
            <li>
                <a><i class="pi pi-building"></i>Empresas</a>
            </li>
            <li>
                <a class="logout"><i class="pi pi-sign-out" (click)="logoutUsuario()"></i>Salir</a>
            </li>
        </ul>
    </div>
</div>